@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Poppins;
}

:root{
    --myColor:#5fcf80;
}

.navbar{
    width: 100%;
    height: 100px;
    background-color: black;
}

.navbar a{
    text-decoration: none;
    color: white;
    margin-left: 40px;
    position: relative;
    left: 700px; 
    top: 30px;
    font-size: 1.1em;
    font-weight: 500;
}

.navbar a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: #fff;
    transform-origin: right;
    border-radius: 5px;
    left: 0;
    bottom: -6px;
    transform: scaleX(0);
    transition: transform.5s;
}

.navbar a:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}

.navbar .login{
    width: 110px;
    height: 40px;
    position: relative;
    background: transparent;
    outline: none;
    border-radius: 6px;
    background: none;
    border: 1px solid white;
    color: white;
    left: 710px;
    top: 25px;
    transition: .2s;
    cursor: pointer;
}

.navbar .login:hover{
    background-color: white;
    color: black;
}

.rasm{
    position: relative;
}

.rasm .fast{
    width: 100%;
    height: 450px;
}

.rasm .uzbek{
    position: absolute;
    top: 70px;
    left: 100px;
    color: white;
    font-size: 40px;
}

.rasm .foods{
    position: absolute;
    color: white;
    top: 90px;
    left: 100px;
    font-weight: 500px;
    font-size: 70px;
}

.rasm .fastt{
    position: absolute;
    top: 220px;
    color: white;
    font-family:sans-serif;
    left: 100px;
    font-size: 15px;
}

.retsept a{
    text-decoration: none;
    color: black;
    position: relative;
    left: 750px;
    margin-left: 40px;
    font-size: 1.1em;
    font-weight: 500;
    top: 20px;
}

.retsept .gamburger{
    color: gray;
}

.retsept .gamburger::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: gray;
    transform-origin: right;
    border-radius: 5px;
    left: 0;
    bottom: -6px;
    transform: scaleX(0);
    transition: transform.5s;
}

.retsept .gamburger:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}

.retsept .lavash{
    color: gray;
}

.retsept .lavash::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: gray;
    transform-origin: right;
    border-radius: 5px;
    left: 0;
    bottom: -6px;
    transform: scaleX(0);
    transition: transform.5s;
}

.retsept .lavash:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}

.retsept .hot{
    color: gray;
}

.retsept .hot::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: gray;
    transform-origin: right;
    border-radius: 5px;
    left: 0;
    bottom: -6px;
    transform: scaleX(0);
    transition: transform.5s;
}

.retsept .hot:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}

.retsept .firmalar{
    color: black;
}

.retsept .firmalar::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: black;
    transform-origin: right;
    border-radius: 5px;
    left: 0;
    bottom: -6px;
    transform: scaleX(1);
    transition: transform.5s;
}

.firmalarr{
    position: relative;
    width: 100%;
    height: 500px;
    top: 50px;
}

.firmalarr .evos .rasmm{
    width: 200px;
    position: absolute;
    left: 200px;
}

.firmalarr .oqtepa .raasm{
    width: 200px;
    position: absolute;
    left: 500px;
}

.firmalarr .feed .rassm{
    position: absolute;
    left: 750px;
    top: 70px;
}

.reveal{
    position: relative;
    transform: translateX(100px);
    opacity: 0;
    transition: .5s;
}

.reveal.active{
    transform: translateX(0px);
    opacity: 1;
}